* {
    font-family: Arial, Helvetica, sans-serif;
    cursor: inherit;
}

  /* For mobile phones: */
@media only screen and (max-width: 768px) {
  button {
    width: 100%;
    display: inline;
  }
  }

header {
    text-align: center;
    color: black;
    background-color: darkorange;
    font-style: bold;
    font-size: large;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 100%;
    padding-bottom: 2%;
} 

.intro {
  text-justify: auto;
  color: lawngreen;
}
body {
    background-color: aqua;
}

/* 
body:hover {
    background-color: chartreuse;
}
*/

div {
  text-align: center;
}

/*--button appearance--*/
button {
    background-color: fuchsia;
    color: yellow;
    border-color: coral;
    padding: 22px 40px;
    font-size: 22px;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
button:hover {
    box-shadow: 0 18px 22px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: coral;
    border-color: magenta;
    color: purple;
  }
/* unused at this time
.register {
    text-align: center;
    position: fixed;
    bottom: 8%;
    left: auto;
    right: auto;
  }

  a:link, a:visited {
    background-color: magenta;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: flex;
    border-radius: 18px;
  }
  
  a:hover, a:active {
    background-color: coral;
  }
*/
footer {
    font-display: papyrus;
    color: springgreen;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 50%;
}
footer:hover {
  color: blue;

}
.cw {
  font-family: papyrus;

}